{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> {% block title %}{% endblock%}</title>

    <link rel="canonical" href="{% static 'app/https://getbootstrap.com/docs/5.0/examples/product/' %}">
    <link href="{% static 'app/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/style.css'%}" rel="stylesheet">
  </head>
<body>    
<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/#" aria-label="Product">
      <img src="{% static 'app/media/logo.png'%}" alt="" width="30" height="30">
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/#">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="/internet/">Internet Hogar</a>
    <a class="py-2 d-none d-md-inline-block" href="/movil/">Telefonia Movil</a>
    <a class="py-2 d-none d-md-inline-block" href="/telefonia/">Telefonia Fija</a>
    <a class="py-2 d-none d-md-inline-block" href="/formulario/">Contacto</a>
    <a class="py-2 d-none d-md-inline-block">Llamanos al 800 300 400</a>
    
  </nav>
</header>

{% block contenido%} {% endblock %}






<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="{% static 'app/media/logo.png'%}" alt="logo" width="50" height="50"><title>TELECEL</title></img>
      <small class="d-block mb-3 text-muted">Codeado con 💜 por VECAROPE</small>
    </div>
    <div class="col-6 col-md">
      <h7>INFORMACION</h7>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Home</a></li>
        <li><a class="link-secondary" href="#">Internet Hogar </a></li>
        <li><a class="link-secondary" href="#">Telefonia Fija</a></li>
        <li><a class="link-secondary" href="#">Telefonia Movil</a></li>
        <li><a class="link-secondary" href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</footer>

    <script src="{% static "app/index.js" %}"></script>
    <script src="{% static "app/assets/dist/js/bootstrap.bundle.min.js" %}"></script>      
  </body>
</html>