{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block  contenido %}
<main>
    <div class="card1 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" >
        <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">TELECEL</h1>
        <p class="lead fw-normal">Damos soluciones globales para tu hogar.<br>Con los mejores planes y red de cobertura a nivel nacional</p>
        <a class="btn btn-outline-secondary" href="/formulario/">CONTRATA AQUÍ</a>
        <img src="{% static 'app/media/ilus13.png'%}" class="product-device"/>
        <img src="{% static 'app/media/ilus4.png'%}" class="product-device product-device-2 shadow-sm d-none d-md-block" />
        </div>
    </div>
    <div>
        <div class="card2 bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
        <h2 class="display-5">Planes de Internet Hogar </h2>
        <p class="lead">Mas gigas, mas velocidad, sin interrupciones.</p>
    
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="{% static 'app/media/ilus5.png'%}" class='img1'/>
                </div>
                <div class="blog-slider__content">
                  <div class="blog-slider__title">Lorem Ipsum Dolor</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
                  <a href="#" class="blog-slider__button">READ MORE</a>
                </div>
              </div>
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="{% static 'app/media/ilus6.png'%}" class='img1'>
                </div>
                <div class="blog-slider__content">
                  <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                  <a href="#" class="blog-slider__button">READ MORE</a>
                </div>
              </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img rc="{% static 'app/media/ilus4.png'%}" class='img1'>
                </div>
                <div class="blog-slider__content">
                  <div class="blog-slider__title">Lorem Ipsum Dolor</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                  <a href="#" class="blog-slider__button">READ MORE</a>
                </div>
              </div>
              
            </div>
            <div class="blog-slider__pagination"></div>
          </div>
        </div>


    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
        <h2 class="display-5">Planes de Telefonía Movil</h2>
        <p class="lead">Minutos ilimitados , mas gigas y con la mejor cobertura .</p>
        <img src="{% static 'app/media/ilus14.png'%}" class="img2"/>
        </div>
    </div>
    </div>
    </div>
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
        <h2 class="display-5">Planes de Telefonía Fija</h2>
        <p class="lead">Conectividad y servicios para su empresa y hogar </p>
        <img src="{% static 'app/media/ilus15.png'%}" class="img3"/>
        </div>
    </div>
</main>
{% endblock %}